*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$darkColor: #242d38;
$lightColor: #efd592;

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
section {
  width: 100%;
  height: 100vh;
  transition: opacity 2s;

  body.clicked & {
    opacity: 0.6;
  }

  &#about {
    background-color: $lightColor;
  }
  &#products {
    background-color: $lightColor;
  }
  &#services {
    background-color: #ff9800;
  }
  &#contact {
    background-color: #607d8b;
  }
}
div#open {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  margin: 40px;
  z-index: 9999;
  background-color: $darkColor;
  border-radius: 50%;
  border: 2px solid $lightColor;

  svg {
    rect {
      fill: #efd592;
      transform-box: fill-box;

      &.a {
        transform: translate(10px, 12px);
        body.clicked & {
          transform: translate(14px, 12px) rotate(0.125turn);
        }
      }
      &.b {
        transform: translate(10px, 19px);
        body.clicked & {
          opacity: 0;
        }
      }
      &.c {
        transform: translate(10px, 26px);
        body.clicked & {
          transform: translate(12px, 26px) rotate(-0.125turn);
        }
      }
    }
  }
}

nav#nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  z-index: 9998;
  background-color: $darkColor;
  color: $lightColor;
  transition: right 400ms;

  body.clicked & {
    right: 0;
  }

  ul {
    li {
      list-style: none;
      padding: 20px 0;
    }
  }
}

.wrapper {
  height: 100%;
}

.darkBg {
  width: 45%;
  min-height: 600px;
  background-color: $darkColor;
  margin: 40px;
}

.text {
  width: 45%;
  p {
    line-height: 2;
    padding: 4em 0;
    font-family: Garamond, "Times New Roman", Times, serif;
    font-size: 1.2em;
  }
}

h1,
h5 {
  font-family: "Poppins", "Courier New", Courier, monospace;
  color: $darkColor;
  font-weight: 700;
}

h5 {
  letter-spacing: 4px;
}

@media (max-width: 1150px) {
  div#open {
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  nav#nav {
    right: -100px;
    width: 100px;

    ul {
      li {
        padding: 10px 0;
        margin-right: 10px;
      }
    }
  }
  .wrapper {
    flex-direction: column !important;
    width: 100% !important;
    margin: 0;
    .darkBg {
      min-height: 60%;
      width: 100%;
      margin: 0;
    }

    .text {
      width: 90%;
      margin: 2em 0;
      p {
        line-height: 2;
        padding: 2em 0;
        font-family: Garamond, "Times New Roman", Times, serif;
        font-size: 0.8em;
      }
    }
  }
}
